<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:label="lookup_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- 카카오 네이티브 앱 키 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="03033934ad0bba787529944420a0e059" />

        <!-- 카카오 인증 결과를 받는 Activity (⚠️ 반드시 필요) -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 여기 scheme이 앱의 리다이렉트 URI와 연결됨 -->
                <data android:scheme="kakao03033934ad0bba787529944420a0e059" />
            </intent-filter>
        </activity>

        <!-- 메인 Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 플러터용 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Flutter text query -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
